*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: url(https://picsum.photos/1600/900);
  background-size: cover;
  background-repeat: no-repeat;

}

.container{
  display: flex;
  flex-wrap: wrap;
}

.formDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 300px;
  background-color: white;
  height: 300px;
  border-radius: 10px;
}

.formDiv input, select, button{
  display: block;
  margin: 20px 0;
  width: 250px;
  height: 30px;
  border-radius: 10px;
  border: 1px solid gray;
  padding: 5px 15px;
  cursor: pointer;
}
.formDiv button{
background-color: rgb(243, 173, 42);
}

.formDiv h1{
  /* margin: auto; */
}

.formContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 100vh;
}

.tableDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 650px;
  background-color: white;
  height: 300px;
  border-radius: 10px;
}

.tableContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 100vh;
}

.table{
  margin: 20px;
}
.table td{
  width: 20%;
  text-align: center;  
}

th, td {
  border-bottom: 1px solid gray;
}
.fa-x{
  color: red;
  cursor: pointer;
}
.fa-pen-to-square{
  color: green;
  cursor: pointer;
}